@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.favourite-places-bg-container{
    background-image: url("https://d2clawv67efefq.cloudfront.net/ccbp-static-website/towerbg.png");
    background-size: cover;
    height: 100vh;
}

.favourite-places-heading{
    font-family: "Roboto";
    color: White;
    font-size: 28px;
    padding: 24px;
    font-weight: bold;
}

.favourite-places-card-container{
    background-color: white;
    padding: 16px;
    border-radius: 5px;
      /* border: 2px solid rgb(0, 8, 255); */
      margin: 15px;
}

.favourite-places-text-container{
    /* border: 2px solid rgb(0, 8, 255); */
}

.favourite-places-card-heading{
    font-family:"Roboto";
    font-size: 24px;
    font-weight: bold;
    color: #0f0e46;
}

.favourite-places-card-description{
    font-family:"Roboto";
    font-size: 13px;
    color: #6c6b70;
}

.favourite-places-card-image{
    height: 100px;
    width: 100px;
}

/* Detailed view section CSS */
.detailed-view-bg-container{
    background-image: url("https://d2clawv67efefq.cloudfront.net/ccbp-static-website/seabg.png");
    height: 100vh;
    background-size: cover;

}

.detailed-view-card-container{
    background-color: white;
    /* border: 1px solid red; */
    margin: 20px;
}
.detailed-view-heading{
    font-family: "Roboto";
    font-size: 28px;
    font-weight: bold;
    padding: 24px;
    color:White 
}

.detailed-view-card-text-container{
    padding: 16px;
    
}
.detailed-view-card-heading{
    font-family:"Roboto" ;
    font-size: 23px;
    font-weight: bold;
    color:#0f0e46; 
}
.detailed-view-card-description{
    font-family:"Roboto" ;
    font-size: 13px;
    color:#6c6b70; 
}